<h3 class="text-center">Are you sure you want to exit?</h3>

<div class="text-center">
   <p><%= link_to 'Return', '/questions/survey' %> &nbsp <%= link_to 'Exit', :new_feedback %></p>
</div>

<% if @current_user.is_gamified %>
    <div class="row">
        <div class="column side">
            <div class="flex-container">
                <div class="confirmation">
                    <h2>Your points:</h2>
                    <h1><%= @user_point_total %></h1>
                </div>
            </div>
        </div>
        <div class="column middle">
            <div class="flex-container">
                <div class="confirmation">
                    <h2>Your department's points:</h2>
                    <h1><%= @team_point_total %></h1>
                </div>
            </div>
            <%= pie_chart [["Emergency Department", @ed_point_total], ["Intensive Care Unit", @icu_point_total]], 
                colors: ["blue", "green"], 
                library: {pieSliceText: "value-and-percentage"} %>
        </div>
        <div class="column-side">            
            <div class="flex-container">
                <div class="confirmation">
                    <h2>Patient State:</h2>
                    <% if @patient_state >= 0 and @patient_state < 0.2 %>
                        <%= image_tag "Patient_1.png", :size => "300" %>
                    <% elsif @patient_state >= 0.2 and @patient_state < 0.4 %>
                        <%= image_tag "Patient_2.png", :size => "300" %>
                    <% elsif @patient_state >= 0.4 and @patient_state < 0.6 %>
                        <%= image_tag "Patient_3.png", :size => "300" %>
                    <% elsif @patient_state >= 0.6 and @patient_state < 0.8 %>
                        <%= image_tag "Patient_4.png", :size => "300" %>
                    <% elsif @patient_state >= 0.8 and @patient_state <= 1 %>
                        <%= image_tag "Patient_5.png", :size => "300" %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
<% end %>
