<p id="notice"><%= notice %></p>

<h1>Questions</h1>

<table>
  <thead>
    <tr>
      <th><%= sortable "question_id", Question %></th>
      <th><%= sortable "to_ask", Question %></th>
      <th><%= sortable "option_1", Question %></th>
      <th><%= sortable "option_2", Question %></th>
      <th><%= sortable "option_3", Question %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.question_id %></td>
        <td><%= question.to_ask %></td>
        <td><%= question.option_1 %></td>
        <td><%= question.option_2 %></td>
        <td><%= question.option_3 %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= form_with(model: @question, local: true) do |form| %>
    
    <% if @question.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

            <ul>
            <% @question.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= form.label :question_id %>
        <%= form.number_field :question_id %>
    </div>

    <div class="field">
        <%= form.label :question %>
        <%= form.text_area :to_ask %>
    </div>

    <div class="field">
        <%= form.label :option_1 %>
        <%= form.text_area :option_1 %>
    </div>

    <div class="field">
        <%= form.label :option_2 %>
        <%= form.text_area :option_2 %>
    </div>

    <div class="field">
        <%= form.label :option_3 %>
        <%= form.text_area :option_3 %>
    </div>

    <%= hidden_field_tag 'new', 1 %>

    <div class="actions">
        <%= form.submit %>
    </div>
<% end %>

<%= link_to 'Back', :responses %>

