<div class="row">
    <div class="column side">
        <% if @current_user.is_gamified %>
            <div class="flex-container">
                <% if @current_user.department.eql?("Emergency Medicine") %>
                    <div class="margin-lg">
                        8 current points
                    </div>
                    <%= image_tag "ER_Avatar.png", :size => "60x100" %> 
                    <p>14 department points</p>
                <% elsif @current_user.department.eql?("Family Medicine") %>
                    <div class="margin-lg">
                        8 current points
                    </div>
                    <%= image_tag "Family_Doctor_Avatar.png", :size => "60x100" %> 
                    <p>17 department points</p>
                <% elsif @current_user.department.eql?("General Internal Medicine") %>
                    <div class="margin-lg">
                        8 current points
                    </div>
                    <%= image_tag "General_Doctor_Avatar.png", :size => "60x100" %> 
                    <p>12 department points</p>
                <% else %>
                    <div class="margin-lg">
                        8 current points
                    </div>
                    <%= image_tag "Critical_Care_Avatar.png", :size => "60x100" %> 
                    <p>24 department points</p>
                <% end %>
            </div>
            <br>
            <div class="question">
                <p class="text-center">This section shows your current score as well as your department's score.</p>
            </div>
        <% end %>

        <div class="text-left">
            <%= link_to "Continue", '/questions/survey' %>
        </div>
    </div>

    <div class="column middle">
        <% if @current_user.is_gamified %>
            <div class="container">
                <div class="question">
                    This is the instructions page for a gamified user.
                </div>
            </div>
        <% else %>
            <div class="container">
                <div class="question">
                    This is the instructions page for a normal user.
                </div>
            </div>
        <% end %>
    </div>

    <div class="column side">
        <% if @current_user.is_gamified %>
            <div class="flex-container">
                <%= image_tag "Patient_4.png", :size => "190" %>
            </div>
            <div class="flex-container">
                <div class="avatar-margin">
                    <%= image_tag "ER_Avatar.png", :size => "45x75" %>
                </div>
                <div class="avatar-margin">
                    <%= image_tag "Family_Doctor_Avatar.png", :size => "45x75" %>
                </div>
                <div class="avatar-margin">
                    <%= image_tag "General_Doctor_Avatar.png", :size => "45x75" %>
                </div>
                <div class="avatar-margin">
                    <%= image_tag "Critical_Care_Avatar.png", :size => "45x75" %>
                </div>
            </div>
            <div class="flex-container">
                <script type="text/javascript">
                google.charts.load("current", {packages:['corechart']});
                google.charts.setOnLoadCallback(drawChart);
                    function drawChart() {
                        var data = google.visualization.arrayToDataTable([
                            ["Department", "Points", { role: "style" } ],
                            ["Emergency Medicine", 14, "blue"],
                            ["Family Medicine", 17, "green"],
                            ["General Internal Medicine", 12, "yellow"],
                            ["Pulmonary Critical Care", 24, "red"]
                        ]);
                        
                        var view = new google.visualization.DataView(data);
                        view.setColumns([0, 1,
                            {
                                calc: "stringify",
                                sourceColumn: 1,
                                type: "string",
                                role: "annotation"
                            },
                        2]);
                        
                        var options = {
                            bar: {groupWidth: "95%"},
                            legend: { position: "none" },
                        };
                        var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
                        chart.draw(view, options);
                }
                </script>
                <div id="columnchart_values"></div>
            </div>
            <br>
            <div class="question">
                <p class="text-center">This section displays the patient's current state as well as both departments' scores.</p>
            </div>
        <% end %>
    </div>
</div>
