<div class="row">
<div class="column side">
    <div class="flex-container">
        <% if @current_user.is_gamified %>
            <div class="margin-lg">
                <%= @user_point_total %> current points
            </div>
            <% if @current_user.department.eql?("Emergency Medicine") %>
                <%= image_tag "ER_Avatar.png", :size => "60x100" %> 
                <%= @em_point_total %>
            <% elsif @current_user.department.eql?("Family Medicine") %>
                <%= image_tag "Family_Doctor_Avatar.png", :size => "60x100" %> 
                <%= @fm_point_total %>
            <% elsif @current_user.department.eql?("General Internal Medicine") %>
                <%= image_tag "General_Doctor_Avatar.png", :size => "60x100" %> 
                <%= @gim_point_total %>
            <% else %>
                <%= image_tag "Critical_Care_Avatar.png", :size => "60x100" %> 
                <%= @pcc_point_total %>
            <% end %>
            department points
        <% else %>
            &nbsp
        <% end %>
    </div>

    <div class="text-left">
        <%= link_to 'View Instructions', '/questions/instructions' %>
    </div>
</div>

<div class="column middle">
    <form action="/questions#create", method="POST">
    <div class="response">
        <div class="row">
            <div class="container">
                <div class="container-border">
                    <div class="container-size-lg">
                        <div class="question">
                            <p><%= @question.to_ask %></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="container-border">
                    <div class="container-size-sm">
                        <ol>
                            <li><input type="radio" name="selection" value="1">
                            <%= @question.option_1 %></li>
                            <li><input type="radio" name="selection" value="2">
                            <%= @question.option_2 %></li>
                            <li><input type="radio" name="selection" value="3">
                            <%= @question.option_3 %></li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="container-border">
                    <div class="container-size-sm">
                        <textarea name="response_text" maxlength="500" placeholder="Character limit 500"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-container">
            <p><input type="submit" value="Continue"></p>
        </div>
    </div>
</form>
</div>

<div class="column side">
    <% if @current_user.is_gamified %>
        <div class="flex-container">
            <% if @patient_state >= 0 and @patient_state < 0.2 %>
                <%= image_tag "Patient_1.png", :size => "190"%>
            <% elsif @patient_state >= 0.2 and @patient_state < 0.4 %>
                <%= image_tag "Patient_2.png", :size => "190"%>
            <% elsif @patient_state >= 0.4 and @patient_state < 0.6 %>
                <%= image_tag "Patient_3.png", :size => "190"%>
            <% elsif @patient_state >= 0.6 and @patient_state < 0.8 %>
                <%= image_tag "Patient_4.png", :size => "190"%>
            <% elsif @patient_state >= 0.8 and @patient_state <= 1 %>
                <%= image_tag "Patient_5.png", :size => "190"%>
            <% end %>
        </div>
        <div class="minor-container">
        <div class="flex-margin">
                <%= image_tag "ER_Avatar.png", :size => "45x75" %>
                <%= image_tag "Family_Doctor_Avatar.png", :size => "45x75" %>
                <%= image_tag "General_Doctor_Avatar.png", :size => "45x75" %>
                <%= image_tag "Critical_Care_Avatar.png", :size => "45x75" %>
        </div>
        </div>
        <div class="flex-container">
             <script type="text/javascript">
                var chart;
                var view;
                var options;
                google.charts.load("current", {packages:['corechart']});
                google.charts.setOnLoadCallback(drawChart);
                function drawChart() {
                    var data = google.visualization.arrayToDataTable([
                        ["Department", "Points", { role: "style" } ],
                        ["Emergency Medicine", <%= @em_point_total %>, "blue"],
                        ["Family Medicine", <%= @fm_point_total %>, "green"],
                        ["General Internal Medicine", <%= @gim_point_total %>, "yellow"],
                        ["Pulmonary Critical Care", <%= @pcc_point_total %>, "red"]
                    ]);
                        
                    view = new google.visualization.DataView(data);
                    view.setColumns([0, 1,
                        {
                            calc: "stringify",
                            sourceColumn: 1,
                            type: "string",
                            role: "annotation"
                        },
                    2]);

                    options = {
                        bar: { groupWidth: "95%" },
                        legend: { position: "none" },
                    };
                    chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
                    chart.draw(view, options);
                }

                if(window.attachEvent) {
                    window.attachEvent('onresize', function() {
                        chart.draw(view, options);
                    });
                } else if(window.addEventListener) {
                    window.addEventListener('resize', function() {
                        chart.draw(view, options);
                    }, true);
                } else {
                }

            </script>
            <div class="minor-container">
                <div id="columnchart_values"></div>
            </div>
        </div>
    <% end %>
    <div class="text-right">
        <%= link_to 'Save and Exit', '/questions/confirmation' %>
    </div>
</div>
