<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :gender %>
    <%= form.select :gender, 
        [
            'M', 
            'F', 
            'Other'
        ], 
        :include_blank => 'Please Select an Option' %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :department %>
    <%= form.select :department, 
        [
            'Emergency Department', 
            'Intensive Care Unit'
        ], 
        :include_blank => 'Please Select an Option' %>
  </div>

  <div class="field">
    <%= form.label :is_surgical_specialist %>
    <%= form.select :is_surgical_specialist, 
        [
            'Yes', 
            'No', 
            'N/A'
        ], 
        :include_blank => 'Please Select an Option' %>
  </div>

  <div class="field">
    <%= form.label :role %>
    <%= form.select :role, 
        [
            'Attending', 
            'Fellow', 
            'Resident', 
            'Intern', 
            'Physician Assistant', 
            'Nurse', 
            'Respiratory Therapist', 
            'Other' 
        ], 
        :include_blank => 'Please Select an Option' %>
  </div>

  <div class="field">
    <%= form.label :years_worked %>
    <%= form.select :years_worked, 
        [
            '<1', 
            '1-2', 
            '3-5', 
            '5-10', 
            '10-20', 
            '20+' 
        ], 
        :include_blank => 'Please Select an Option' %>
  </div>

  <div class="actions">
    <%= form.submit "Submit User" %>
  </div>
<% end %>
