<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="table">
  <thead>
    <tr>
      <th><%= sortable "user_id", User %></th>
      <th><%= sortable "is_gamified", User %></th>
      <th><%= sortable "gender", User %></th>
      <th><%= sortable "age", User %></th>
      <th><%= sortable "department", User %></th>
      <th><%= sortable "is_surgical_specialist", User %></th>
      <th><%= sortable "role", User %></th>
      <th><%= sortable "years_worked", User %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.user_id %></td>
        <td><%= user.is_gamified %></td>
        <td><%= user.gender %></td>
        <td><%= user.age %></td>
        <td><%= user.department %></td>
        <td><%= user.is_surgical_specialist %></td>
        <td><%= user.role %></td>
        <td><%= user.years_worked %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p class="text-center">Make a new random user by setting whether or not it will be a gamified account:</p>

<div class="flex-container">
    <%= form_with(model: @user, local: true) do |form| %>
        <div class="text-center">
            <div class="field">
                <%= form.label :is_gamified, "Gamified user?" %><br>
                <%= form.check_box :is_gamified %>
            </div>
        </div>
    
        <%= hidden_field_tag 'completed', -1 %>
        <br>
        <div class="actions">
            <%= form.submit %>
        </div>
    <% end %>
</div>
<br>
<%= link_to 'Back', :responses %>
