<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user.user_id %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Department:</strong>
  <%= @user.department %>
</p>

<p>
  <strong>Is Surgical Specialist?:</strong>
  <%= @user.is_surgical_specialist %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<p>
  <strong>Years Worked:</strong>
  <%= @user.years_worked %>
</p>

<table>
    <thead>
        <tr>
            <th><%= sortable "experience", Feedback %></th>
            <th><%= sortable "future", Feedback %></th>
            <th><%= sortable "difficulty", Feedback %></th>
            <th><%= sortable "created_at", Feedback %></th>
        </tr>
    </thead>

    <tbody>
        <% @feedbacks.each do |feedback| %>
            <tr>
                <td><%= feedback.experience %></td>
                <td><%= feedback.future %></td>
                <td><%= feedback.difficulty %></td>
                <td><%= feedback.created_at %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<%= link_to 'Back', users_path %>
