<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user.user_id %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Department:</strong>
  <%= @user.department %>
</p>

<p>
  <strong>Clinical year:</strong>
  <%= @user.clinical_year %>
</p>

<table>
    <thead>
        <tr>
            <th>Feedback</th>
            <th>Experience</th>
            <th>Future</th>
            <th>Difficulty</th>
        </tr>
    </thead>

    <tbody>
        <% @feedbacks.each do |feedback| %>
            <tr>
                <td><%= feedback.feedback %></td>
                <td><%= feedback.experience %></td>
                <td><%= feedback.future %></td>
                <td><%= feedback.difficulty %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<%= link_to 'Back', users_path %>
