<%= form_with(model: response, local: true) do |form| %>
  <% if response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(response.errors.count, "error") %> prohibited this response from being saved:</h2>

      <ul>
      <% response.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :is_gamified %>
    <%= form.check_box :is_gamified %>
  </div>

  <div class="field">
    <%= form.label :question_id %>
    <%= form.number_field :question_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :selection %>
    <%= form.number_field :selection %>
  </div>

  <div class="field">
    <%= form.label :response_text %>
    <%= form.text_area :response_text, maxlength: 500 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
