<p id="notice"><%= notice %></p>

<h1>Responses</h1>

<p>
    <%= link_to "Show Users", :users %><br>
    <%= link_to "Show Questions", :questions %><br>
    <%= link_to "Show Feedbacks", :feedbacks %><br>
    <%= link_to "Show Optional Feedbacks", :optionals %><br>
</p>

<table>
    <tr>
        <th><%= sortable "question_id", Response %></th>
        <th><%= sortable "user_id", Response %></th>
        <th><%= sortable "is_gamified", Response %></th>
        <th><%= sortable "selection", Response %></th>
    </tr>
    <% @responses.each do |response| %>
    <tr>
        <td><%= response.question_id + 1 %></td>
        <td><%= response.user_id %></td>
        <td><%= response.is_gamified %></td>
        <td><%= response.selection %></td>
    </tr>
    <% end %>
</table>

<br>

<%= link_to "Home", :root %>

