<p id="notice"><%= notice %></p>

<h1>Responses</h1>

<p>
    <%= link_to "New User", '/users/new' %><br>
    <%= link_to "New Question", '/questions/new' %><br>
</p>

<div>
<table style="float: left">
    <tr>
        <th><%= sortable "question_id" %></th>
        <th><%= sortable "response" %></th>
        <th><%= sortable "user_id" %></th>
    </tr>
    <% @responses_g.each do |response1| %>
    <tr>
        <td><%= response1.question_id + 1 %></td>
        <td><%= response1.response %></td>
        <td><%= response1.user_id %></td>
    </tr>
    <% end %>
</table>
<table style="float: left">
    <tr>
        <th><%= sortable "question_id" %></th>
        <th><%= sortable "response" %></th>
        <th><%= sortable "user_id" %></th>
    </tr>
    <% @responses_n.each do |response2| %>
    <tr>
        <td><%= response2.question_id + 1 %></td>
        <td><%= response2.response %></td>
        <td><%= response2.user_id %></td>
    </tr>
    <% end %>
</table>
</div>
