<p id="notice"><%= notice %></p>

<h1>Responses</h1>

<p>
    <%= link_to "Show Users", :users %><br>
    <%= link_to "New User", :new_user %><br>
    <%= link_to "New Question", :new_question %><br>
</p>

<div>
<table style="float: left">
    <tr>
        <th><%= sortable "question_id" %></th>
        <th><%= sortable "response" %></th>
        <th><%= sortable "user_id" %></th>
    </tr>
    <% @responses_g.each do |response1| %>
    <tr>
        <td><%= response1.question_id + 1 %></td>
        <td><%= response1.response %></td>
        <td><%= response1.user_id %></td>
    </tr>
    <% end %>
</table>
</div>
