<p id="notice"><%= notice %></p>

<p>
  <strong>Gamified?:</strong>
  <%= @response.is_gamified %>
</p>

<p>
  <strong>Question:</strong>
  <%= @response.question_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @response.user_id %>
</p>

<p>
  <strong>Selection:</strong>
  <%= @response.selection %>
</p>

<p>
  <strong>Response text:</strong>
  <%= @response.response_text %>
</p>

<%= link_to 'Edit', edit_response_path(@response) %> |
<%= link_to 'Back', responses_path %>
