<div class="text-center">
<%= form_with(model: feedback, local: true) do |form| %>
  <h2>How would you rate your experience?</h2>
  <div class="flex-container">
  <table>
    <tr>
      <td><%= label_tag(:experience_1, "Very Unenjoyable") %></td>
      <td><%= label_tag(:experience_2, "Unenjoyable") %></td>
      <td><%= label_tag(:experience_3, "Can't Say") %></td>
      <td><%= label_tag(:experience_4, "Enjoyable") %></td>
      <td><%= label_tag(:experience_5, "Very Enjoyable") %></td>
    </tr>
    <tr>
      <td><%= radio_button_tag(:experience, "1") %></td>
      <td><%= radio_button_tag(:experience, "2") %></td>
      <td><%= radio_button_tag(:experience, "3") %></td>
      <td><%= radio_button_tag(:experience, "4") %></td>
      <td><%= radio_button_tag(:experience, "5") %></td>
    </tr>
  </table>
  </div>

  <h2>Would you be more willing to partake in surveys like this in the future?</h2>
  <div class="flex-container">
  <table>
    <tr>
      <td><%= label_tag(:future_1, "Very Unlikely") %></td>
      <td><%= label_tag(:future_2, "Unlikely") %></td>
      <td><%= label_tag(:future_3, "Can't Say") %></td>
      <td><%= label_tag(:future_4, "Likely") %></td>
      <td><%= label_tag(:future_5, "Very Likely") %></td>
    </tr>
    <tr>
      <td><%= radio_button_tag(:future, "1") %></td>
      <td><%= radio_button_tag(:future, "2") %></td>
      <td><%= radio_button_tag(:future, "3") %></td>
      <td><%= radio_button_tag(:future, "4") %></td>
      <td><%= radio_button_tag(:future, "5") %></td>
    </tr>
  </table>
  </div>

  <h2>How difficult did you find this survey?</h2>
  <div class="flex-container">
  <table>
    <tr>
      <td><%= label_tag(:difficulty_1, "Very Easy") %></td>
      <td><%= label_tag(:difficulty_2, "Easy") %></td>
      <td><%= label_tag(:difficulty_3, "Can't Say") %></td>
      <td><%= label_tag(:difficulty_4, "Hard") %></td>
      <td><%= label_tag(:difficulty_5, "Very Hard") %></td>
    </tr>
    <tr>
      <td><%= radio_button_tag(:difficulty, "1") %></td>
      <td><%= radio_button_tag(:difficulty, "2") %></td>
      <td><%= radio_button_tag(:difficulty, "3") %></td>
      <td><%= radio_button_tag(:difficulty, "4") %></td>
      <td><%= radio_button_tag(:difficulty, "5") %></td>
    </tr>
  </table>
  </div>
  <br>

  <div class="actions">
    <%= form.submit "Submit Feedback" %>
  </div>
<% end %>
</div>

<% if feedback.errors.any? %>
    <div class="text-center">
        <br>Please answer all questions before submitting.
    </div>
<% end %>
