<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @feedback.user_id %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @feedback.feedback %>
</p>

<p>
  <strong>Future:</strong>
  <%= @feedback.future %>
</p>

<p>
  <strong>Difficulty:</strong>
  <%= @feedback.difficulty %>
</p>

<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', feedbacks_path %>
