<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @optional.user_id %>
</p>

<p>
  <strong>Is gamified:</strong>
  <%= @optional.is_gamified %>
</p>

<p>
  <strong>Response:</strong>
  <%= @optional.response %>
</p>

<%= link_to 'Back', optionals_path %>
